*{
    margin: 0;
    padding: 0;
}

/*Formatação do footer*/

footer{
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border-top: solid 2px;
    font-weight: bold;
}