*{
    margin: 0;
    padding: 0;
}

/*formatação da section*/
#div-principal{
   margin: 50px;
}
#div-form{
    max-width: 500px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}
form{
  text-align: right;
  border: solid 2px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
   
}

.th-col1{
 width: 20%;
 text-align: left;
}
.td-col2{
 width: 100%;
 text-align: right;
}
.td-col2 input{
    width: 400px;
    height: 25px;
    text-align: center;
}
#id-input-enviar{
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bold;
}