*{
    margin: 0;
    padding: 0;
}

/*Formatação do section*/
#div-principal{
    width: 400px;
    border: solid 3px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}
#div-form{
    text-align: center;
}
#div-form h1{
    text-align: center;
    margin: 0 auto;
}
form{

    text-align: right;
    
}
form table{
    
    
}

.th-col1,
.td-col2{
    min-height: 25px;
}
.th-col1{
    min-width: 90px;
    text-align: left;
}
.td-col2{
    display: flex;
    width: 300px;
}
.td-col2 input{
    width: 100%;
    text-align: center;
}
.td-col2 textarea{
    min-width: 99%;
    width: 100%;
    min-height: 30px;
    text-align: center;
}
#id-input-enviar{
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bold;
}