<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Material</title>
    <link rel="stylesheet" href="../css/exibir-lista.css">
</head>
<body>
    <div id="div-principal">
        <div v-show="true"><button id="btn-nova-pesquisa" @click="resetaEstado">{{ texto_botao }}</button></div>
        <h2>Lista de Material</h2>
        <div class="cabecalho">
            <div id="id_col" class="col">#:</div>
            <div class="col">Código:</div>
            <div class="col">Tipo:</div>
            <div class="col">Localização:</div>
            <div class="col">Nº de Série:</div>
            <div class="col">Modelo:</div>
            <div class="col">Fabricante:</div>
            <div class="col">Descrição:</div>
            <div class="col">Status:</div>
        </div>
        <div v-for="(item) in itens" :key="item.id" class="linhas">
            <div id="id_linha" class="linha">{{item.id}}</div>
            <div class="linha">{{item.codigo}}</div>
            <div class="linha">{{item.tipo}}</div>
            <div class="linha">{{item.localizacao}}</div>
            <div class="linha">{{item.n_serie}}</div>
            <div class="linha">{{item.modelo}}</div>
            <div class="linha">{{item.fabricante}}</div>
            <div class="linha">{{item.descricao}}</div>
            <div v-if="item.st" class="linha">
                <div class="">{{item.st.st}}</div>
                <div class="">{{item.st.nome}}</div>
                <div class="">{{item.st.matricula}}</div>
                <div class="">{{item.st.destino}}</div>
                <div class="">{{item.st.data}}</div>
            </div>
            <div v-else>sem informações</div>
        </div>
    </div>
    
</body>
</html>